In [7]:
import os
from checker import *
from instance import *

# !mvn clean package

Ejecutar con algoritmo greedy

In [8]:
# dataset = "x"

# for file in os.listdir(f"datasets/{dataset}"):
    
#     print(f"Processing instance: {file}")
#     !java -jar target/ChallengeSBPO2025-1.0.jar datasets/{dataset}/{file} greedy
#     print("\n")

VerificaciÃ³n de factibilidad y valores objetivo

In [9]:
# checker = WaveOrderPicking()

# algorithm = "greedy"



# for dataset in ["a", "b", "x"]:
#     for file in os.listdir(f"output/{algorithm}/{dataset}"):
#         result = checker.check_result(f"datasets/{dataset}/{file}", f"output/{algorithm}/{dataset}/{file}")
#         print(f"Result for instance {dataset}/{file}: {result}")

In [10]:
# checker = WaveOrderPicking()

# algorithm = "greedy"


# for dataset in ["a", "b", "x"]:
#     for file in os.listdir(f"output/{algorithm}/{dataset}"):
#         result = checker.check_result(f"datasets/{dataset}/{file}", f"output/{algorithm}/{dataset}/{file}")
#         print(f"Result for instance {dataset}/{file}: {result}")

Mejores soluciones publicadas

In [11]:
%%capture
for dataset in ["a", "b", "x"]:
    for file in os.listdir(f"best_solutions/{dataset}"):
        result = checker.check_result(f"datasets/{dataset}/{file}", f"best_solutions/{dataset}/{file}")
        print(f"Result for instance {dataset}/{file}: {result}")

NameError: name 'checker' is not defined

In [12]:
from instance import *

datasets = {"a": {}, "b": {}, "x": {}}
instances = {}

In [13]:
%%capture

for dataset in ["a", "b", "x"]:
    for file in os.listdir(f"datasets/{dataset}"):
        instanceId = file.split("_")[1].split(".")[0]
        instance = Instance(dataset, instanceId, f"datasets/{dataset}/{file}")
        instances[f"{dataset}/{instanceId}"] = instance
        datasets[dataset][instanceId] = instance

In [14]:
display_stats_table(datasets["a"].values())

,instance,#aisles,#orders,#items,LB,UB,mean_aisle_capacity,mean_order_size,mean_items_per_aisle,mean_items_per_order
0,a/0001,116,61,155,30,68,62.78,3.70,4.07,2.61
1,a/0002,33,7,7,0,2,19.91,1.57,1.09,1.00
2,a/0003,124,82,246,33,106,84.55,4.20,6.32,3.04
3,a/0004,91,16,59,4,40,29.14,4.44,1.68,3.69
4,a/0005,161,2625,6407,1322,4395,1365.15,5.26,109.44,3.49
5,a/0006,184,10341,7089,452,3892,893.36,1.42,121.28,1.00
6,a/0007,180,8320,5747,1306,3847,872.04,1.31,109.03,1.00
7,a/0008,168,2185,5831,1304,2840,1282.26,5.97,103.04,3.75
8,a/0009,304,70,222,52,153,35.58,3.99,2.86,3.31
9,a/0010,383,1602,3689,416,1746,147.66,2.90,33.23,2.46
10,a/0011,375,1029,2784,330,2045,140.42,3.53,27.82,2.82
11,a/0012,342,133,337,35,177,23.65,3.95,4.37,2.64
12,a/0013,413,8375,7525,1510,4583,160.04,1.18,53.73,1.00
13,a/0014,413,12402,10974,1947,7739,213.63,1.21,78.48,1.00
14,a/0015,402,7367,6633,384,3679,144.36,1.22,54.58,1.00
15,a/0016,88,1108,1051,149,686,100.14,1.00,33.20,1.00
16,a/0017,83,417,411,54,175,44.58,1.00,14.46,1.00
17,a/0018,90,2682,2309,537,1205,158.17,1.16,54.51,1.00
18,a/0019,134,2257,2104,152,999,155.61,1.23,59.46,1.00
19,a/0020,5,5,5,5,12,5.40,3.00,3.80,2.20

In [15]:

display_stats_table(datasets["b"].values())

,instance,#aisles,#orders,#items,LB,UB,mean_aisle_capacity,mean_order_size,mean_items_per_aisle,mean_items_per_order
0,b/0001,185,11321,7675,1206,3968,985.13,1.32,140.59,1.00
1,b/0002,165,2162,5922,626,3405,1139.02,6.64,99.51,3.92
2,b/0003,164,2070,5617,585,2150,1126.27,6.29,94.54,3.84
3,b/0004,163,2448,6271,701,2802,1319.90,5.80,107.75,3.65
4,b/0005,179,6468,4959,996,2869,705.64,1.47,88.96,1.00
5,b/0006,165,1857,4982,496,3558,1072.66,5.05,89.86,3.47
6,b/0007,165,1841,1621,91,833,295.44,1.27,36.46,1.00
7,b/0008,398,12334,10365,2235,6120,313.38,1.21,93.09,1.00
8,b/0009,417,5581,4990,1123,3205,118.60,1.31,35.72,1.00
9,b/0010,482,14952,13510,1228,9361,722.49,1.26,188.81,1.00
10,b/0011,482,45112,37820,8541,19101,1752.77,1.19,470.29,1.00
11,b/0012,483,28263,24432,6085,12808,1213.18,1.11,323.43,1.00
12,b/0013,483,38214,32604,6610,19417,1397.17,1.30,378.25,1.00
13,b/0014,483,38202,32238,4795,20406,1368.65,1.29,368.03,1.00
14,b/0015,398,11541,9905,2323,7207,240.40,1.30,78.89,1.00

In [16]:
display_stats_table(datasets["x"].values())

,instance,#aisles,#orders,#items,LB,UB,mean_aisle_capacity,mean_order_size,mean_items_per_aisle,mean_items_per_order
0,x/0001,164,1949,4608,810,2380,770.74,3.78,79.86,2.83
1,x/0002,168,2942,2485,474,1613,515.86,1.36,55.10,1.00
2,x/0003,180,11330,7399,1831,3958,1032.26,1.32,132.56,1.00
3,x/0004,172,2732,6544,354,4289,1324.35,5.30,105.12,3.66
4,x/0005,182,11024,7365,1628,5099,961.25,1.35,130.27,1.00
5,x/0006,168,2704,6523,1196,2979,1353.11,5.22,110.38,3.62
6,x/0007,418,8725,7715,1490,5518,162.80,1.27,52.93,1.00
7,x/0008,482,20364,17991,3937,10520,926.88,1.22,243.01,1.00
8,x/0009,483,39701,33994,6154,19163,1447.50,1.26,395.89,1.00
9,x/0010,482,44193,36991,7668,14433,1606.03,1.24,437.42,1.00
10,x/0011,483,38657,32534,1773,23553,1360.31,1.24,375.17,1.00
11,x/0012,483,52322,43088,3235,28890,1742.96,1.18,472.14,1.00
12,x/0013,483,49992,41228,7173,28203,1729.34,1.15,464.41,1.00
13,x/0014,483,68064,54106,4039,22918,2154.77,1.17,583.32,1.00
14,x/0015,171,2839,6763,1541,4777,1313.05,5.17,120.01,3.06

In [17]:
experiment_instances = {
    "a": [i for i in datasets["a"].values() if i.id in ["0001", "0004", "0009", "0017", "0019"]],
    "b": [i for i in datasets["b"].values() if i.id in ["0001", "0003", "0005", "0007", "0009"]],
    "x": [i for i in datasets["x"].values() if i.id in ["0001", "0003", "0006", "0007", "0008"]]
}

In [19]:
display_stats_table(experiment_instances["a"])

,instance,#aisles,#orders,#items,LB,UB,mean_aisle_capacity,mean_order_size,mean_items_per_aisle,mean_items_per_order
0,a/0001,116,61,155,30,68,62.78,3.70,4.07,2.61
1,a/0004,91,16,59,4,40,29.14,4.44,1.68,3.69
2,a/0009,304,70,222,52,153,35.58,3.99,2.86,3.31
3,a/0017,83,417,411,54,175,44.58,1.00,14.46,1.00
4,a/0019,134,2257,2104,152,999,155.61,1.23,59.46,1.00

In [20]:
display_stats_table(experiment_instances["b"])

,instance,#aisles,#orders,#items,LB,UB,mean_aisle_capacity,mean_order_size,mean_items_per_aisle,mean_items_per_order
0,b/0001,185,11321,7675,1206,3968,985.13,1.32,140.59,1.00
1,b/0003,164,2070,5617,585,2150,1126.27,6.29,94.54,3.84
2,b/0005,179,6468,4959,996,2869,705.64,1.47,88.96,1.00
3,b/0007,165,1841,1621,91,833,295.44,1.27,36.46,1.00
4,b/0009,417,5581,4990,1123,3205,118.60,1.31,35.72,1.00

In [21]:
display_stats_table(experiment_instances["x"])

,instance,#aisles,#orders,#items,LB,UB,mean_aisle_capacity,mean_order_size,mean_items_per_aisle,mean_items_per_order
0,x/0001,164,1949,4608,810,2380,770.74,3.78,79.86,2.83
1,x/0003,180,11330,7399,1831,3958,1032.26,1.32,132.56,1.00
2,x/0006,168,2704,6523,1196,2979,1353.11,5.22,110.38,3.62
3,x/0007,418,8725,7715,1490,5518,162.80,1.27,52.93,1.00
4,x/0008,482,20364,17991,3937,10520,926.88,1.22,243.01,1.00